<!-- this temnplate used to send email when student is created in application  -->
<div>
    <p>Hi !</p>
    <br>
    <p>Here is your EMI Calculation Table,</p>
    <p>Principal - Rs. <%= Emi.amount %></p>
    <p>Intrest Rate- <%= Emi.rate %>%</p>
    <p>Duration- <%= Emi.duration %>Months</p>

    <input type="hidden" id="amount" value="<%= Emi.amount %>">
    <input type="hidden" id="rate" value="<%= Emi.rate %>">
    <input type="hidden" id="duration" value="<%= Emi.duration %>">

    <div id="table-div">
        <!-- list the details of all student -->
            <table id="table">
        
                <thead>
                    <th>Sr.No</th>
                    <th>Months</th>
                    <th>Monthly EMI</th>
                    <th>Remaining Amount</th>
                    <th>%Loan Remaining</th>
                </thead>
                <tbody id="table-body">

                    <% let duration=Emi.duration %>
                    <% let amount=Emi.amount %>
                    <% let rate=Emi.rate/12/100 %>
                    <% let bracket= Math.pow(1+rate,duration) %>
                    <% let emi= (amount * rate * bracket)/(bracket-1) %>
                    <% amount=emi*duration %>
                    <% percent=100/duration %>
                    <% remPercent=100 %>

                    <% let months=['January','February','March','April','May','June','July','August','September','October','November','December'] %>
                    <% let month =parseInt(new Date().getMonth())  %>
                    <% let year =parseInt(new Date().getFullYear()) %>
                    <% let count=1 %>

                    <% for(duration;duration>0;duration--){  %>
                        <% month++ %>
                        <% if(month==12){ %>
                        <% month=0 %>
                        <% year++ %>
                        <% } %>

                        <% amount-=emi %>
                        <% remPercent-=percent %>
                        <tr>
                            <td><%=count++%></td>
                            <td><%=months[month]%>, <%=year%></td>
                            <td>Rs.<%=Math.round(emi)%></td>
                            <td>Rs.<%=Math.max(Math.round(amount),0)%></td>
                            <td><%=remPercent.toFixed(2)%>%</td>
                        </tr>

        
                    <%}%>
                </tbody>
            </table>
    </div>
    <img src="https://www.bajajfinservmarkets.in/discover/wp-content/uploads/2019/11/Customer-Portal.jpg" alt="">
    <p>If you run into problems, please contact support by reaching <strong style="color: red;">learningdemo068@gmail.com</strong> </p>
    <br>
    <p>Thanks,</p>
    <p>EMI Calculator Team</p>
</div>
